.CV_section {
    width: 50vw;
    max-height: 1000px;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.24);
    background-color: #fff;
    display: flex;
}

.general_info {
    width: 35%;
    background-color: var(--dark-blue);
    padding: 40px 40px;
}

.general_info * {
    color: #fff;
}

.general_info h2 {
    font-size: 32px;
}

.general_info h3 {
    font-weight: 300;
    margin-top: 20px;
}

.general_info .contact {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
}

.general_info .contact p {
    margin-bottom: 17px;
}

.other_info {
    padding: 40px 40px;
    width: 65%;
}

.other_info * {
    color: #000;
}

.other_info .header {
    text-align: center;
    text-transform: uppercase;
}