.edit_block:nth-child(4) {
    margin-bottom: 10px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    cursor: pointer;
}

.header_wrapper:hover .header, .header_wrapper:hover .icon {
    color: var(--violet-color);
}

.header_wrapper .icon {
    color: var(--header-color);
    margin-top: 5px;
}

.inputs {
    transform-origin: top center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    max-height: 5000px;
    transition: max-height 0.5s ease-in;
}

.closed {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s ease-out;
}
