.header_wrapper {
    padding: 10px;
    cursor: pointer;
}

.header_wrapper:hover {
    background-color: var(--dark-grey);
}

.header {
    font-size: 24px;
    color: #424242;
}

.inputs {
    transform-origin: top center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.hidden {
    display: none;
    transform: scaleY(0%);
}

.opened {
    animation: open 0.3s;
}

@keyframes open {
    from {
        display: none;
        transform: scaleY(0%);
    } to {
        display: block;
        transform: scaleY(100%);
    }
}

.closed {
    animation: close 0.3s;
    animation-fill-mode: forwards;
}

@keyframes close {
    from {
        display: block;
        transform: scaleY(100%);
    } to {
        display: none;
        transform: scaleY(0%);
    }
}
