.input_block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    color: #200e32;
    font-weight: 700;
}

.input {
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: var(--dark-grey);
    font-size: 14px;
    height: 30px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.input:focus {
    border: 1px solid #81449D;
}

#aboutMe {
    height: 200px;
    vertical-align: top;
}